body {
  /* margin: 0; */
  padding: 0;
  background-color: #c0f4dd;
  display: flex;
  margin-top: 5rem;
}

.main {
  display: flex;
  flex-flow: column wrap;
  font-family: 'Jockey One', sans-serif;
  margin-left: 3rem;

}


h1 {
  font-size: 4em;
  margin-bottom: 4;
}

h2 {
  font-size: 3em;
  margin-bottom: 0;
  margin-top: 0;
  color:rgb(36, 34, 34)
}

.icon-container {
  display: flex;
  justify-content: left;
  flex-direction: row wrap;
}

hr {
  margin-top: 4rem;
  width: 40%;
  justify-content: left;
  margin-left: 0;
  margin-right: 0;
  height: 0rem;
  border-color:rgb(36, 34, 34)
}

a {
  margin-left: 0;
}

.icon {
  width: 1em;
  height: 1em;
  margin: .5em;
  margin-top: 3.5rem;
  margin-left: 1rem;
  flex-direction: column;
  justify-content: flex-end;
}

.icon-links {
  display: flex;
  margin-left: 1rem;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}