body {
  /* margin: 0; */
  padding: 0;
  background-color: #77DDAA;
  margin-top: 1rem;
}

.app {
  margin-top: 0;
}

.main {
  display: flex;
  flex-flow: column wrap;
  font-family: 'Jockey One', sans-serif;
  margin-left: 3rem;
}

.about {
  display: flex;
  margin-left: 9rem;
  margin-top: 3rem;
  font-family: 'Jockey One', sans-serif;
}

.about-text {
  height: 35rem;
  width: 38rem;
  border: 5px solid black;
  /* position: absolute; */
  transition: filter .5s ease-in-out;
  -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(100%); /* FF 35+ */
  box-shadow:
    20px -20px 0 -5px rgb(98, 243, 231),
    20px -20px 0 0 black;
}

.about-text:hover {
  -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(0%); /* FF 35+ */
}

.experience {
  display: flex;
  margin-left: 9rem;
  margin-top: 3rem;
  font-family: 'Jockey One', sans-serif;
}


.about-text-container {
  margin-top: 1rem;
  margin-left: 1rem;
  width: 520px; 
  font-size: 1.5em;
}

.tech-list {
  width: 20rem;
  height: 5rem;
  flex-flow: row wrap;
}

h1 {
  font-size: 4em;
  margin-bottom: 4;
}

h2 {
  font-size: 3em;
  margin-bottom: 0;
  margin-top: 0;
  color:rgb(36, 34, 34)
}

.icon-container {
  display: flex;
  justify-content: left;
  flex-direction: row wrap;
}

hr {
  margin-top: 4rem;
  width: 22%;
  justify-content: left;
  margin-left: 0;
  margin-right: 0;
  height: 0rem;
  border-color:rgb(36, 34, 34)
}

a {
  margin-left: 0;
}

.icon {
  width: 2em;
  height: 2em;
  margin: .5em;
  margin-top: 3rem;
  margin-left: 1rem;
  flex-direction: column;
  justify-content: flex-end;
}

.icon-links {
  display: flex;
  margin-left: 1rem;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.nav-ul {
  margin-top: 0%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #77DDAA;
  ;
  width: 100%;
}

.nav-li {
  float: right;
}

.nav-li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-li a:hover {
  color: gray;
}

.portrait {
  margin-top: 6rem;
  height: 350px;
  margin-left: 8rem;
  /* position: absolute; */
  transition: filter .5s ease-in-out;
  border: 5px solid black;

  -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(100%); /* FF 35+ */
  box-shadow:
    20px -20px 0 -5px rgb(98, 243, 231),
    20px -20px 0 0 black;
}

.portrait:hover {
  -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(0%); /* FF 35+ */
}


.experience-div {
    
  background-color: black;
  border: 5px solid black;

}